<!DOCTYPE html>
<html>
  <head>
    <title>DS Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/skills">SKILLS</a></h1>
    <p>Click on 'SKILLS' to see Dan's progress</p>
  </body>
</html>